/** ************************* **/
/** Froont widget base styles **/
/** ************************* **/
.fr-widget h1,
.fr-widget h2,
.fr-widget h3,
.fr-widget h4,
.fr-widget h5,
.fr-widget h6,
.fr-widget p {
  margin: 0;
}
html,
body,
button,
input,
select,
textarea {
  font-family: "PT Sans", Tahoma, Verdana, sans-serif;
}
body {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input: focus, textarea: focus {
  outline: none;
}
.b-content {
  font-size: 1.6em;
  padding-top: 0.02px;
}
.b-content.loading {
  opacity: 0;
}
.b-content: after {
  content: ".";
  display: none;
  clear: both;
  line-height: 0;
  height: 0;
}
a {
  color: #000;
  text-decoration: underline;
}
.fr-wf {
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
  word-break: break-word;
}
.wf-loading .fr-wf {
  opacity: 0 !important;
}
.wf-inactive .fr-wf,
.wf-active .fr-wf {
  opacity: 1;
}
.fr-container: after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.fr-widget {
  display: block;
}
.fr-text * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}
.fr-text i {
  font-style: italic;
}
.fr-text u {
  text-decoration: underline;
}
.fr-text del,
.fr-text s,
.fr-text strike {
  text-decoration: line-through;
}
.fr-text b,
.fr-text strong,
.fr-text h1,
.fr-text h2,
.fr-text h3,
.fr-text h4,
.fr-text h5,
.fr-text h6 {
  font-weight: bold;
}
.fr-img {
  line-height: 0;
}
.fr-img img {
  width: 100%;
  max-width: 100%;
}
.fr-svg svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.fr-svg-inner svg {
  position: absolute;
}
/** clear content around grid widget container, because it contains a lot of floated elements **/

.fr-grid: before, .fr-grid: after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.fr-grid > .fr-widget {
  float: left;
}
.fr-video-inner {
  position: relative;
}
.fr-video-inner iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fr_hover-animation {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background, color, border-radius;
  -moz-transition-property: background, color, border-radius;
  -o-transition-property: background, color, border-radius;
  transition-property: background, color, border-radius;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.fr-video-inner p {
  display: none;
}
.fr-copyright-footer {
  bottom: 0;
  width: 100%;
}
.fr-copyright-footer.fixed {
  position: fixed;
  left: 0;
}
.fr-copyright-footer > .fr-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #242424;
}
.fr-copyright-footer .fr-made-with-froont {
  width: auto;
  font-family: Arial;
  font-size: .6em;
  line-height: 1.6em;
  text-align: center;
  letter-spacing: .25em;
  margin: 0 auto;
  padding: 2em 0 1em 0;
  color: #979797;
}
.fr-copyright-footer .fr-made-with-froont .fr-text {
  min-width: 100%;
}
.fr-copyright-footer .fr-made-with-froont .fr-text .heart {
  font-size: 2.1em;
}
.fr-copyright-footer .fr-bottom-em-spacer {
  height: 1em;
  background: #242424;
}

/** ******************************** **/
/** End of Froont widget base styles **/
/** ******************************** **/

/** ************************* **/
/** Widget styles             **/
/** ************************* **/
.fr_cecilu {
  display: block;
  width: 24.223908%;
  vertical-align: top;
  background: url(../img/bubble-black-md.png_300x300.png) no-repeat center;
  min-height: 18.75em;
  opacity: 0.55;
  margin: 33px auto 0;
}
.fr_lewetu {
  display: inline-block;
  font-family: Arvo;
  font-size: 3.2em;
  line-height: 2.25em;
  text-align: center;
  letter-spacing: 0;
  vertical-align: top;
  margin-top: .6875em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 29.23760177646188%;
  color: #f9fbfb;
  min-height: 4.019607843137255em
}
.fr_lewetu .fr-text {
  min-width: 100%
}
.fr_kubece {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: .5625em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 26.129950037009625%;
  min-height: 1.5em
}
.fr_tuguvi {
  display: block;
  margin-top: -0.0009765625em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1px;
  background: #00c1c1;
  min-height: 42.5em
}
.fr_dijive {
  display: inline-block;
  width: 2.875em;
  vertical-align: top;
  margin-top: .00390625em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2.071382309400444%;
  background-image: url(../img/mag_5.png_45x53.png);
  min-height: 3.25em;
  border: 0;
}
#homeSubmit{
	color: #1F3549;
}

/** ******************************** **/
/** End of widget styles             **/
/** ******************************** **/